@import 'stylesheets/_variables';

.search-bar {
  max-width: 50%;
  display: flex;

  &__input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }

  &__button {
    padding: 0 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &__error {
    font-size: 12px;
    color: $errorColor;
  }
}