@import 'stylesheets/_variables';

.text-input {
  border: 1px solid $borderColor;
  border-radius: 3px;
  padding: 12px;
  line-height: 1.2rem;
  width: 100%;

  &:focus,
  &:active {
    outline: none;
  }

  &__error {
    min-height: 16px;
    font-size: 14px;
    color: $errorColor;
    margin-bottom: 6px;
    line-height: 16px;
  }
}