@import 'stylesheets/_variables';

.custom-tabs-tab {
  width: 100%;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid $gray;
  padding: 12px 24px;

  &_active {
    background-color: $gray;
  }
  &:first-child {
    border-right: 1px solid $gray;
  }
  &:last-child {
    border-left: 1px solid $gray;
  }
}